<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Lojas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #fc="ngForm" (ngSubmit)="onSubmit(fc)">
    <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" name="nome" [(ngModel)]="loja.nome" required></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Endereço</ion-label>
          <ion-input type="text" name="endereco" [(ngModel)]="loja.endereco" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Telefone</ion-label>
            <ion-input type="text" name="tel" [(ngModel)]="loja.tel" required></ion-input>
        </ion-item>

          <ion-item lines="nome">
              <ion-button type="submit" [disabled]="fc.invalid">Salvar</ion-button>
              <ion-button href="/tabs">Cancelar</ion-button>
          </ion-item>
    </form>

    <div clas= "map" id="map_canvas"></div>
</ion-content>
